/* Write button */
#newMsgButton-mail-menuitem {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar.png);
  -moz-image-region: rect(0px 48px 24px 24px);
}

menuitem[id|="subjects_prefix_switch_RD"] {
  list-style-image: url(chrome://messenger/skin/icons/mail-toolbar.png);
  -moz-image-region: rect(0px 48px 24px 24px);
}


