@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.optionsButton {
    min-width: 16px;
    -moz-image-region: rect(0px, 20px, 16px, 0px);
}

.up {
  min-width: 16px;
  list-style-image: url("chrome://subjects_prefix_switch/skin/up_s.png");
}

.up[disabled="true"] {
  min-width: 16px;
  list-style-image: url("chrome://subjects_prefix_switch/skin/up_s.png");
  opacity: 0.5;
}

.down {
  min-width: 16px;
  list-style-image: url("chrome://subjects_prefix_switch/skin/down_s.png");
}

.down[disabled="true"] {
  min-width: 16px;
  list-style-image: url("chrome://subjects_prefix_switch/skin/down_s.png");
  opacity: 0.5;
}

.addAddress {
  list-style-image: url("chrome://subjects_prefix_switch/skin/right_s.png");
}

.removeAddress {
  list-style-image: url("chrome://subjects_prefix_switch/skin/left_s.png");
}

.new {
  list-style-image: url("chrome://subjects_prefix_switch/skin/new_s.png");
}

.duplicate {
  list-style-image: url("chrome://subjects_prefix_switch/skin/copy_s.png");
}

.duplicate[disabled="true"] {
  list-style-image: url("chrome://subjects_prefix_switch/skin/copy_s.png");
  opacity: 0.5;
}

.edit {
  list-style-image: url("chrome://subjects_prefix_switch/skin/edit_s.png");
}

.edit[disabled="true"] {
  list-style-image: url("chrome://subjects_prefix_switch/skin/edit_s.png");
  opacity: 0.5;
}

.delete {
  list-style-image: url("chrome://subjects_prefix_switch/skin/delete_s.png");
}

.delete[disabled="true"] {
 list-style-image: url("chrome://subjects_prefix_switch/skin/delete_s.png");
  opacity: 0.5;
}

.browse {
  list-style-image: url("chrome://subjects_prefix_switch/skin/browse.png");
}

radio[pane=maintab] {
  list-style-image: url("chrome://messenger/skin/preferences/general.png");
}
radio[pane=othertab] {
  list-style-image: url("chrome://messenger/skin/preferences/advanced.png");
}

radio[pane=helptab] {
  list-style-image: url("chrome://subjects_prefix_switch/skin/about.png");
}

prefwindow[type="child"] {
  padding: 0px;
}

prefpane {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}
